.mainBox {
  #main_Sec1 {
    position: relative;
    #iBox {
      position: absolute;
      top: 0;
      left: 0;
      margin: 50px 20px;
      background-color: transparent;
      border: none;

      cursor: pointer;

      i {
        font-size: 20px;
      }
    }

    #genderText {
      font-size: 30px;
      font-weight: bold;
    }

    .genderBox {
      width: 90%;
      height: 85%;
      display: flex;
      img {
        max-width: 400px;
        width: 100%;
        border-radius: 18px;
      }

      .genderValue {
        margin-bottom: 50px;
        font-weight: bold;
      }

      #woman {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 10px;
        cursor: pointer;
      }
      #man {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
