body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(41, 41, 41);
  background-color: rgb(253, 237, 231);
  // background-image: url("../img/bg/6.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainBox {
  opacity: 0;
  transition: 1s;
  width: 70%;
  max-width: 1100px;
  min-width: 780px;
  height: 60%;
  min-height: 640px;
  border: 15px solid rgb(44, 44, 44);
  border-radius: 20px;
  background-color: white;
  animation-duration: 3s;

  #main_Sec1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .topBox {
    margin-top: 10px;
    width: 95%;
    // background-color: rgb(250, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-weight: bold;
    }

    .topBox_right {
      display: flex;
      justify-content: space-between;
      width: 80px;
      //   background-color: rgb(194, 194, 243);

      p {
        font-weight: bold;
        margin: 0;
      }

      i {
        font-size: 20px;
        transform: translateY(2px);
      }
    }
  }

  .mainContentBox {
    height: 80%;
  }

  .weatherBox {
    width: 160px;
    height: 65px;
    margin-right: 2.5%;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 12px;
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    .clickText {
      display: inline-block;
      color: white;
      font-weight: 400;
      transform: rotate(-4deg);
      margin-left: 10px;
    }
    .weatherBox_secondText {
      display: flex;
      align-items: center;
      justify-content: center;

      transform: translateY(-10px);

      p {
        margin: 0;
        transform: translateY(10px);
        img {
          width: 50px;
        }
      }

      span {
        display: inline-block;
        color: white;
        font-weight: bold;
      }
    }
  }
  .bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-between;
    height: 100%;

    #mainText {
      font-size: 42px;
      font-weight: bold;
      margin: 0;
    }

    .mainContentBox {
      width: 100%;
      height: 65%;
      background: linear-gradient(#fa92c4d3, #fcd5489a);
      margin-top: 15px;
      border-radius: 18px;
      position: relative;

      .mainImgBox {
        display: flex;
        height: 100%;
        align-items: center;
        p {
          width: 200px;
          margin: 0;
          img {
            width: 250px;
          }
        }
        #shirtBox {
          transform: translate(20%, 10%) rotate(-10deg);
        }
        #bagBox {
          transform: translate(1%, -10%) rotate(2deg) scale(1.1);
        }
        #shoesBox {
          transform: translate(-25%, 20%);
        }
        #hatBox {
          transform: translate(-30%, -15%) rotate(40deg);
        }
      }

      #smallLogoText {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        font-weight: bold;
        margin-right: 10px;
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 28px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
      span {
        margin-right: 3px;
        color: rgb(41, 41, 41);
      }
      i {
        font-size: 24px;
      }
    }
  }
}
