body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(51, 51, 51);
  // background-color: rgb(253, 237, 231);
  // background-image: url("../img/bg/2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainBox {
  width: 70%;
  max-width: 1100px;
  min-width: 780px;
  height: 60%;
  min-height: 640px;
  border: 15px solid rgb(44, 44, 44);
  border-radius: 20px;
  background-color: white;
  // opacity: 0;

  #main_Sec1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .topBox {
    margin-top: 10px;
    width: 95%;
    // background-color: rgb(250, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-weight: bold;
    }

    .topBox_right {
      display: flex;
      justify-content: space-between;
      width: 80px;
      //   background-color: rgb(194, 194, 243);

      p {
        font-weight: bold;
        margin: 0;
      }

      i {
        font-size: 20px;
        transform: translateY(2.5px);
      }
    }
  }

  .mainContentBox {
    height: 80%;
  }

  .weatherBox {
    width: 160px;
    height: 65px;
    margin-right: 2.5%;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10%;
    opacity: 0;
    cursor: pointer;
    .clickText {
      display: inline-block;
      color: white;
      font-weight: 400;
      margin-left: 10px;
      animation: 2s clickTxtAni infinite forwards;
    }

    @keyframes clickTxtAni {
      0% {
        transform: rotate(-5deg) scale(1);
      }
      50% {
        transform: rotate(-5deg) scale(1.02);
      }
      100% {
        transform: rotate(-5deg) scale(1);
      }
    }
    .weatherBox_secondText {
      display: flex;
      align-items: center;
      justify-content: center;

      transform: translateY(-10px);

      p {
        margin: 0;
        transform: translateY(10px);
        img {
          width: 50px;
        }
      }

      span {
        display: inline-block;
        color: white;
        font-weight: bold;
      }
    }
  }
  .bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-between;
    height: 100%;

    #mainText {
      font-size: 42px;
      font-weight: bold;
      margin: 0;
      opacity: 0;
    }

    .cssanimation,
    .cssanimation span {
      animation-duration: 1s;
      animation-fill-mode: both;
    }

    .cssanimation span {
      display: inline-block;
    }

    .leRotateYZoomIn span {
      animation-name: leRotateYZoomIn;
    }
    @keyframes leRotateYZoomIn {
      from {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
          rotateY(75deg);
        opacity: 0;
      }
      5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
          rotateY(75deg);
      }
    }

    .b_mainContentBox {
      width: 100%;
      height: 65%;
      background: linear-gradient(#fa92c4d3, #fcd5489a);
      margin-top: 15px;
      border-radius: 18px;
      position: relative;
      opacity: 0;

      .mainImgBox {
        display: flex;
        height: 100%;
        align-items: center;
        p {
          width: 200px;
          margin: 0;
          opacity: 1;
          transition: 0.5s;

          img {
            width: 250px;
          }
        }
        @keyframes bounce {
          0% {
            top: 0px;
          }
          100% {
            top: -20px;
          }
        }
        #shirtBox {
          transform: translate(20%, 10%) rotate(-10deg);
          position: relative;
          top: 0;
          animation: bounce 1.5s linear infinite alternate;
          animation-delay: 0.35s;
        }
        #bagBox {
          transform: translate(1%, -10%) rotate(2deg) scale(1.1);
          position: relative;
          top: 0;
          animation: bounce 1.5s linear infinite alternate;
          animation-delay: 0.7s;
        }
        #shoesBox {
          transform: translate(-25%, 20%);
          position: relative;
          top: 0;
          animation: bounce 1.5s linear infinite alternate;
          animation-delay: 1s;
        }
        #hatBox {
          transform: translate(-30%, -15%) rotate(40deg);
          position: relative;
          top: 0;
          animation: bounce 1.5s linear infinite alternate;
          animation-delay: 1.5s;
        }
      }

      #smallLogoText {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        font-weight: bold;
        margin-right: 10px;
        font-size: 24px;
        margin-bottom: 10px;
        opacity: 0;
      }
    }

    button {
      background: transparent;
      border: none;
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 28px;
      font-weight: bold;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }

      .testBtnText {
        margin-right: 3px;
        color: rgb(41, 41, 41);
        border-radius: 50px;
        position: relative;
        // background-color: violet;
        &::after {
          content: "";
          display: block;
          border-radius: 50px;
          width: 0px;
          height: 50px;
          background: #00f0b5;
          transition: 1s;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
        &:hover {
          &::after {
            background: #00f0b5;
            width: 100px;
          }
        }
        // i {
        //   font-size: 24px;
        // }
      }
    }
  }

  #mainBoxShow {
    animation: 3s mainBoxShowOn forwards;
  }

  @keyframes mainBoxShowOn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .contentShow {
    animation: 1.5s contentShowOn forwards;
  }

  @keyframes contentShowOn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .imgContentShow {
    animation: 1.5s imgContentShowOn forwards;
  }

  @keyframes imgContentShowOn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
