@import "reset.css";

.mainimg {
    .backall {
        width: 100%;

        .logoimgs {
            margin: 30px;
            width: 5%;
        }
    }





    .boximgs {


        // .box01 {
        //     float: left;
        //     width: 110px;
        //     height: 200px;
        //     border: 1px solid #000;
        //     box-sizing: border-box;
        //     justify-content: space-between;
        // }
    }

    .ipad {
        position: relative;
        display: flex;
        text-align: center;

        img {

            margin: 0 auto;
        }

        .titletext {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            //right: 50%;
            padding-top: 50px;
            width: 100%;
            //display: flex;
            justify-content: center;

            .m {
                width: 100%;
                font-size: 25px;
                font-weight: 900;
            }

            .h {
                font-size: 15px;
                width: 100%;
                font-weight: 900;
                transform: translate(430px, -20px);
            }

        }

        // .m {
        //     font-size: 25px;
        //     position: absolute;
        //     margin: 0 auto;
        //     padding-top: 50px;
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        // }

        // .h {
        //     position: absolute;
        //     margin: 0 auto;
        //     padding-top: 50px;
        //     width: 100%;
        //     display: flex;
        //     justify-content: flex-end;
        //     font-size: 15px;
        // }

        .wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            margin: 0 auto;
            border: 10px solid #f00;
            box-sizing: border-box;
            //overflow: hidden;
            padding-top: 10px;
            display: flex;
            justify-content: center;

            article {
                float: left;
                padding: 0 10px;

                img {
                    border-radius: 20px;
                    display: block;
                    width: 180px;
                }

                &:nth-of-type(2),
                &:nth-of-type(4) {
                    //position: absolute;
                    transform: translateY(30%);
                }
            }
        }
    }
}